<app-loader [hidden]="loader"></app-loader>
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <div id="header-fixed" style="display: flex;">
                    <div class="row">
                        <div class="form-group col-md">
                            <h2 class="page-title">Escort/ Refer Register</h2>
                        </div>

                        <div class="form-group col-md" *ngIf="escortviewData.length>0">
                            <select class="form-select" id="viewChild" (change)="filterList($event.target.value)"
                                [ngClass]=" searchFullscreen? 'filter_inner_fullscreen ' : ' filter_inner' ">
                                <option value="">-- Filter List By Date --</option>
                                <option value="{{date}}" *ngFor="let date of filterDate">
                                    {{date.split("-").reverse().join("-")}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md" *ngIf="escortviewData.length>0">
                            <div class="serach_field_2">
                                <div [ngClass]=" searchFullscreen? 'search_inner_fullscreen ' : ' search_inner' ">
                                    <form active="#">
                                        <div class="search_field">
                                            <input type="text" name="search"
                                                placeholder="search fam, name, place, type ..."
                                                [(ngModel)]="escortSearch">
                                        </div>
                                        <button type="submit"> <i class="fa fa-search"></i> </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md" style="display: flex; justify-content:flex-end"
                        *ngIf="!viewEscortReferForm.value.gram || !createMode">
                        <i class="fas fa-plus-circle"
                            style="cursor: pointer; color: #a8d7d7; font-size: 30px; margin-top: 5px;"
                            title="Create Escort/ Refer Register"></i>
                    </div>

                    <div class="form-group col-md" style="display: flex; justify-content:flex-end"
                        *ngIf="viewEscortReferForm.value.gram && createMode">
                        <i class="fas fa-plus-circle"
                            style="cursor: pointer; color: #499; font-size: 30px; margin-top: 5px;"
                            title="Create Escort/ Refer Register" (click)="createEscortRefer(createER)"></i>
                    </div>
                </div>

                <form class="form-signin" [formGroup]="viewEscortReferForm">

                    <div class="row" *ngIf="regionBranchHide">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region"
                                [ngClass]="{'is-invalid': m.region.invalid
                                 && m.region.touched,  'is-valid':  m.region.valid && (m.region.dirty || m.region.touched) }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="m.region.errors" class="invalid-feedback">
                                <div *ngIf="m.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{'is-invalid': m.branch.invalid && m.branch.touched,
                              'is-valid': m.branch.valid && (m.branch.dirty || m.branch.touched) }">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="m.branch.errors" class="invalid-feedback">
                                <div *ngIf="m.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md">
                            <label for="block">Block :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBlock($event.target.value)"
                                formControlName="block" id="block" [ngClass]="{'is-invalid': m.block.invalid 
                                && m.block.touched,'is-valid': m.block.valid && 
                                (m.block.dirty || m.block.touched) }">
                                <option value="">-- Select Block --</option>
                                <option *ngFor="let block of villagesOfBranch" value="{{block.blockMasterId}}">
                                    {{ block.blockName }}
                                </option>
                            </select>
                            <div *ngIf="m.block.errors" class="invalid-feedback">
                                <div *ngIf="m.block.errors.required">Block selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gp">GP/ Municipality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeGp($event.target.value)" formControlName="gp"
                                id="gp" [ngClass]="{'is-invalid': m.gp.invalid && m.gp.touched,
                              'is-valid': m.gp.valid && (m.gp.dirty || m.gp.touched) }">
                                <option value="">-- Select GP/ Municipality --</option>
                                <option *ngFor="let gp of gpList" value="{{gp.gpMunicipalId}}">
                                    {{ gp.name }}
                                </option>
                            </select>
                            <div *ngIf="m.gp.errors" class="invalid-feedback">
                                <div *ngIf="m.gp.errors.required">
                                    GP selection is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gram">Village/ Gram Sansad/ Locality
                                :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeVillage($event.target.value)"
                                formControlName="gram" id="gram" [ngClass]="{'is-invalid': m.gram.invalid && m.gram.touched,
                              'is-valid': m.gram.valid && (m.gram.dirty || m.gram.touched) }">
                                <option value="">-- Select Village --</option>
                                <option *ngFor="let vill of villageList" value="{{vill.villageMasterId}}">
                                    {{ vill.villageName }}
                                </option>
                            </select>
                            <div *ngIf="m.gram.errors" class="invalid-feedback">
                                <div *ngIf="m.gram.errors.required">
                                    Village selection is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="white_box_tittle list_header">

                        <div class="QA_table">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table
                                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                                    <thead>
                                        <tr>
                                            <th style="width: 4%;">Sl.<br>No.</th>
                                            <th style="width: 15%;">Date</th>
                                            <th style="width: 8%;">Family<br>No.</th>
                                            <th style="width: 25%;">Name</th>
                                            <th style="width: 25%;">Guardian Name</th>
                                            <th style="width: 13%;">Beneficiary</th>
                                            <th style="width: 10%;">Reason</th>
                                            <th style="width: 12%;">Done by- <br>Staff/ SS</th>
                                            <th style="width: 25%;">Place</th>
                                            <th style="width: 11%;">Type</th>
                                            <th style="width: 12%;" *ngIf="deleteMode || updateMode">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody style="text-align: center;">
                                        <tr *ngFor="let escort of escortviewData |escortRegisterFilter: {familyNumber :  escortSearch,
                                                 familyName :escortSearch, visitingPlaceName : escortSearch, escortOrReferType:escortSearch}|
                                                  paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                                            <td style="width: 4%;">{{(p-1)*5+i+1 ? (p-1)*5+i+1 : i+1}}</td>
                                            <td style="width: 15%;">{{escort.visitDate.split("-").reverse().join("-")}}
                                            </td>
                                            <td style="width: 8%;">{{escort.familyNumber}}</td>
                                            <td style="width: 25%;">{{escort.familyName}}</td>
                                            <td style="width: 25%;">{{escort.husbandOrGuardianName}}</td>
                                            <td class="btn-link"
                                                style="width: 13%; color:#0d6efd; text-decoration: none; cursor: pointer;"
                                                (click)="openDialog(escort)">view</td>
                                            <td style="width: 10%;">
                                                <div class="popover__wrapper">
                                                    <h3 class="popover__title" style="color:#0d6efd;">view</h3>
                                                    <div class="popover__content" *ngIf="escort?.reasonList?.length>0">
                                                        <li style="word-wrap: break-word; text-align: left;" *ngFor="let reason of escort.reasonList
                                                        ; index as i">
                                                            {{i+1}}. {{reason.reasonName}}
                                                        </li>
                                                    </div>
                                                    <div class="popover__content" *ngIf="escort?.reasonList?.length==0">
                                                        <li style="word-wrap: break-word; text-align: left;">
                                                            No Data Found
                                                        </li>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 12%;">
                                                <div class="popover__wrapper">
                                                    <h3 class="popover__title" style="color:#0d6efd;">view</h3>
                                                    <div class="popover__content">
                                                        <li style="word-wrap: break-word; text-align: left;">
                                                            * STAFF : {{escort.escortedReferredByStaff=='Y'?
                                                            escort.escorteeRefereeStaffName:''}}<br>
                                                            * SS : {{escort.escortedReferredBySS =='Y' ?
                                                            escort.escorteeRefereeSsName :''}}
                                                        </li>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 25%;">{{escort.visitingPlaceName}}</td>
                                            <td style="width: 11%;">{{escort.escortOrReferType}}</td>
                                            <td style="width: 12%;">
                                                <i class="fas fa-edit" title="Edit Escort/ Refer Register"
                                                    (click)="editEscort(Benificiary, escort)" *ngIf="updateMode"></i>
                                                <i class="fas fa-trash" title="Delete Escort/ Refer Register"
                                                    (click)="deleteEscort(escort)" *ngIf="deleteMode"></i>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                    (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                                </pagination-controls>

                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<ng-template #createER>

    <div class="modal-content">
        <div class="modal-header">

            <div class="col-md">
                <h3 class="dialog-title">List Of Families</h3>
            </div>

            <div class="col-md">
                <span class="close" (click)="createERModalDismiss()"
                    style="cursor: pointer;font-size: 35px;float: right; margin-top: -18px;">&times;</span>
            </div>

        </div>

        <div class="modal-body">
            <form class="form-signin" [formGroup]="viewFamilyForm">
                <div class="form-group col-md-4">
                    <label for="date">Date :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                    <input type="date" class="form-control" formControlName="date" [min]="minDate"
                        (keydown)="restrictTypeOfDate()" (change)="changeDate()" [ngClass]="{'is-invalid': r.date.invalid
                            && r.date.touched,'is-valid': r.date.valid && (r.date.dirty || r.date.touched) }">
                    <div *ngIf="r.date.errors" class="invalid-feedback">
                        <div *ngIf="r.date.errors.required">Date selection is required</div>
                    </div>
                </div>

                <div id="tbodyFam">
                    <div id="table_wrapper">
                        <table class="table table-striped" id="table_wrapper">
                            <thead id="header_fixed">
                                <tr style="text-align: center;">
                                    <th style="width: 3%;">Sl. No.</th>
                                    <th style="width: 3%;">Family No.</th>
                                    <th style="width: 25%;">Name</th>
                                    <th style="width: 25%;">Guardian Name</th>
                                    <th style="width: 30%;">Village</th>
                                    <th style="width: 30%;">Name of SS </th>
                                    <th style="width: 25%;">Name of Staff</th>
                                    <th style="width: 5%;">Beneficiary</th>
                                </tr>
                            </thead>

                            <tbody style="text-align:center;">
                                <tr *ngFor="let fami of familyList; index as i">
                                    <td style="width: 3%;">{{i+1}}</td>
                                    <td style="width: 3%;">{{fami.familyNumber}}</td>
                                    <td style="width: 25%;">{{fami.firstName}}{{fami.middleName}} {{fami.lastName}}</td>
                                    <td style="width: 25%;">{{fami.husbandOrGuardianName}}</td>
                                    <td style="width: 30%;">{{villageName}}</td>
                                    <td style="width: 30%;">{{fami.followUpSSName ? fami.followUpSSName : '-'}}</td>
                                    <td style="width: 25%;">{{fami.staffDetails? fami.staffDetails.staffFirstNAme:
                                        '-'}}{{fami?.staffDetails?.staffMiddleName}}
                                        {{fami?.staffDetails?.staffLastName}}
                                    </td>
                                    <td class="btn-link"
                                        style="width: 5%; color:#0d6efd; text-decoration: none; cursor: pointer;"
                                        (click)="viewSelectBenificiary(Benificiary, fami)">create</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>

    </div>
</ng-template>

<ng-template #Benificiary>

    <div class="modal-contents">
        <div class="modal-header">

            <div class="col-md">
                <h3 class="dialog-title" *ngIf="!editEscortDetails?.escortReferRegisterId">Create Escort/ Refer Register
                </h3>
                <h3 class="dialog-title" *ngIf="editEscortDetails?.escortReferRegisterId">Edit Escort/ Refer Register
                </h3>
            </div>

            <div class="col-md">
                <span class="close" (click)="viewSelectBenificiaryModalDismiss()"
                    style="cursor: pointer;font-size: 35px;float: right; margin-top: -18px;">&times;</span>
            </div>

        </div>

        <div class="modal-body" style="overflow-y: auto; height: 400px;">
            <form class="form-signin" [formGroup]="createEscortReferForm">

                <fieldset class="scheduler-border" style="height: 190px;">
                    <legend class="scheduler-border">Beneficiary List</legend>
                    <div id="tbodybenificiary">
                        <div id="table_wrapper">
                            <table class="table table-striped" id="table_wrapper">
                                <thead id="header_fixed">
                                    <tr style="text-align: center;">
                                        <th style="width: 4%;">Sl. No.</th>
                                        <th style="width: 25%;">Name</th>
                                        <th style="width: 20%;">Age</th>
                                        <th style="width: 10%;">Sex</th>
                                        <th style="width: 30%;">Status</th>
                                        <th style="width: 5%;">Select</th>
                                    </tr>
                                </thead>

                                <tbody style="text-align:center;">
                                    <tr *ngFor="let ben of viewBeneficiaryDetails; index as i">
                                        <td style="width: 4%;">{{i+1}}</td>
                                        <td style="width: 25%;">{{ben.childName}}</td>
                                        <td style="width: 20%;">{{ben.age}}</td>
                                        <td style="width: 10%;">{{ben.sex}}</td>
                                        <td style="width: 30%;">{{ben.status}}</td>
                                        <td style="width: 5%;"> <input *ngIf="ben.is_checked== true"
                                                class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                                checked (change)="selectMultipleBeneficiary($event,ben)">
                                            <input *ngIf="ben.is_checked== false" class="form-check-input"
                                                type="checkbox" value="" id="flexCheckDefault"
                                                (change)="selectMultipleBeneficiary($event,ben)">
                                        </td>
                                    </tr>
                                    <tr *ngIf="viewBeneficiaryDetails.length == 0">
                                        <td colspan="6">No list is available.</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div class="form-group col-md">
                        <label for="type">Type selection :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" formControlName="type" id="type" [ngClass]="{'is-invalid': e.type.invalid && e.type.touched,  'is-valid': 
                                        e.type.valid && (e.type.dirty || e.type.touched) }">
                            <option value="">-- Select Type --</option>
                            <option value="escort">Escort </option>
                            <option value="refer">Refer</option>
                        </select>
                        <div *ngIf="e.type.errors" class="invalid-feedback">
                            <div *ngIf="e.type.errors.required">Type selection is required</div>
                        </div>
                    </div>

                    <div class="form-group col-md" *ngIf="createEscortReferForm.value.type">
                        <label for="type" *ngIf="createEscortReferForm.value.type =='refer'">Referred By :&nbsp;<span
                                class="text-danger">*&nbsp;</span></label>
                        <label for="type" *ngIf="createEscortReferForm.value.type =='escort'">Escorted By :&nbsp;<span
                                class="text-danger">*&nbsp;</span></label><br>
                        Staff: <input class="form-check-input" type="checkbox" value="staff" id="flexCheckDefault"
                            style="margin-top: 3px;" formControlName="staff">&nbsp;&nbsp;&nbsp;&nbsp;
                        SS: <input class="form-check-input" type="checkbox" value="ss" id="flexCheckDefault"
                            style="margin-top: 3px;" formControlName="ss">&nbsp;&nbsp;
                        <span
                            *ngIf="(editEscortDetails?.escorteeRefereeSsName )||( onclickBenFamDetails?.followUpSSName)">({{
                            editEscortDetails?.escorteeRefereeSsName ? editEscortDetails?.escorteeRefereeSsName
                            :onclickBenFamDetails?.followUpSSName}})</span>
                        <span
                            *ngIf="(!editEscortDetails?.escorteeRefereeSsName )&& (!onclickBenFamDetails?.followUpSSName)">(No
                            ss is available)</span>
                    </div>

                    <div class="form-group col-md">
                        <label for="user">Staff List :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" formControlName="user" id="user" [ngClass]="{'is-invalid': e.user.invalid && e.user.touched,  'is-valid': 
                                            e.user.valid && (e.user.dirty || e.user.touched) }">
                            <option value="">-- Select Staff --</option>
                            <option *ngFor="let user of staffList" value="{{user.user_id}}">
                                {{user.user_firstname}}{{user.user_middlename}}
                                {{user.user_lastname}}
                            </option>
                        </select>
                        <div *ngIf="e.user.errors" class="invalid-feedback">
                            <div *ngIf="e.user.errors.required">Staff selection is required</div>
                        </div>
                    </div>

                    <div class="form-group col-md">
                        <label for="place">Place List :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" formControlName="place" id="place" [ngClass]="{'is-invalid': e.place.invalid && e.place.touched,  'is-valid': 
                                            e.place.valid && (e.place.dirty || e.place.touched) }">
                            <option value="">-- Select Place --</option>
                            <option *ngFor="let place of placeList" value="{{place.placeId}}">{{place.placeName}}
                            </option>
                        </select>
                        <div *ngIf="e.place.errors" class="invalid-feedback">
                            <div *ngIf="e.place.errors.required">Place selection is required</div>
                        </div>
                    </div>
                </div>

                <fieldset class="scheduler-border" style="height: 190px;">
                    <legend class="scheduler-border">Reasons List</legend>
                    <div id="tbodyReason">
                        <div id="table_wrapper">
                            <table class="table table-striped" id="table_wrapper">
                                <thead id="header_fixed">
                                    <tr style="text-align: center;">
                                        <th style="width: 5%;">Sl. No.</th>
                                        <th style="width: 25%;">Reason Name</th>
                                        <th style="width: 5%;">Select</th>
                                    </tr>
                                </thead>

                                <tbody style="text-align:center;">
                                    <tr *ngFor="let reason of reasonList; index as i;">
                                        <td style="width: 5%;">{{i+1}}</td>
                                        <td style="width: 25%;">{{reason.reasonName}}</td>
                                        <td style="width: 5%;"> <input *ngIf="reason.isChecked== true"
                                                class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                                checked (change)="selectMultipleReason($event,reason)">
                                            <input *ngIf="reason.isChecked== false" class="form-check-input"
                                                type="checkbox" value="" id="flexCheckDefault"
                                                (change)="selectMultipleReason($event,reason)">
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>

        <div class="modal-footer">
            <div class="row">
                <button type="button" class=" btn btn-primary btn-sm" (click)="saveEscortRefer()"
                    [disabled]="!disableSave()">Save</button>
            </div>
        </div>

    </div>
</ng-template>