<app-loader [hidden]="loader"></app-loader>
<h1 mat-dialog-title>
    <div class="dialog-header">
        <h3 class="dialog-title" *ngIf="!specificSchoolEventDetails">Create Event Register</h3>
        <h3 class="dialog-title" *ngIf="specificSchoolEventDetails">Edit Event Register</h3>
        <div><i class="fas fa-times" (click)="closeDialog()"></i></div>
    </div>
</h1>
<hr>


<div mat-dialog-content style="overflow-y: auto; height: 400px; overflow-x: hidden;">
    <form class="form-signin" [formGroup]="createEventRegisterForm">

        <div class="row">
            <div class="form-group col-md-6">
                <label for="eventType">Event Types :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                <select class="form-select" (change)="changeEventTypes($event.target.value)" formControlName="eventType"
                    id="eventType" [ngClass]="{'is-invalid': l.eventType.invalid && l.eventType.touched,
                  'is-valid': l.eventType.valid && (l.eventType.dirty || l.eventType.touched) }">
                    <option value="">-- Select Event Types --</option>
                    <option *ngFor="let event of eventTypeLists" value="{{event.eventTypeMasterId}}">
                        {{event.eventName}}
                    </option>
                </select>
                <div *ngIf="l.eventType.errors" class="invalid-feedback">
                    <div *ngIf="l.eventType.errors.required">Please select a Event</div>
                </div>
            </div>
        </div>

        <div *ngIf="event_is_special == 'N'">

            <div class="row">
                <div class="form-group col-md">
                    <label for="schoolName">School Name :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                    <input type="text" class="form-control" placeholder="Enter School Name" formControlName="schoolName"
                        maxlength="100" minlength="3" (keypress)="validationService.onlyAlphabetsAndSpace($event)"
                        style="text-transform: capitalize" [ngClass]="{'is-invalid': l.schoolName.invalid && l.schoolName.touched,
                'is-valid':l.schoolName.valid &&(l.schoolName.dirty || l.schoolName.touched)}" />
                    <div *ngIf="l.schoolName.errors" class="invalid-feedback">
                        <div *ngIf="l.schoolName.errors.required">
                            Please Enter School Name
                        </div>
                        <div *ngIf="l.schoolName.errors.minlength">
                            Minimum length should be 3
                        </div>
                    </div>
                </div>

                <div class="form-group col-md">
                    <label for="schoolType">School Type :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                    <select class="form-select" formControlName="schoolType" id="schoolType" [ngClass]="{'is-invalid':
                 l.schoolType.invalid && l.schoolType.touched, 'is-valid':
                 l.schoolType.valid && (l.schoolType.dirty || l.schoolType.touched) }">
                        <option value="">-- Select School Type --</option>
                        <option value="G">Government</option>
                        <option value="P">Private</option>
                    </select>
                    <div *ngIf="l.schoolType.errors" class="invalid-feedback">
                        <div *ngIf="l.schoolType.errors.required">Please select school type</div>
                    </div>
                </div>

            </div><br>

            <div class="row">
                <div class="form-group col-md">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">School Place :&nbsp;<span class="text-danger">*&nbsp;</span>
                        </legend>
                        <div class="row">
                            <div class="form-group col-md">
                                <label for="block">Block :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                                <select class="form-select" (change)="changeBlock($event.target.value)"
                                    formControlName="block" id="block" [ngClass]="{'is-invalid':l.block.invalid
                                     && l.block.touched,'is-valid':l.block.valid &&
                                      (l.block.dirty ||l.block.touched) }">
                                    <option value="">-- Select Block --</option>
                                    <option *ngFor="let block of villagesOfBranch" value="{{block.blockMasterId}}">
                                        {{ block.blockName }}
                                    </option>
                                </select>
                                <div *ngIf="l.block.errors" class="invalid-feedback">
                                    <div *ngIf="l.block.errors.required">Block selection is required</div>
                                </div>
                            </div>

                            <div class="form-group col-md">
                                <label for="gp">GP/ Municipality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                                <select class="form-select" (change)="changeGp($event.target.value)"
                                    formControlName="gp" id="gp" [ngClass]="{'is-invalid':l.gp.invalid && l.gp.touched,
                                           'is-valid':l.gp.valid && (l.gp.dirty || l.gp.touched) }">
                                    <option value="">-- Select GP --</option>
                                    <option *ngFor="let gp of gpList" value="{{gp.gpMunicipalId}}">
                                        {{ gp.name }}
                                    </option>
                                </select>
                                <div *ngIf="l.gp.errors" class="invalid-feedback">
                                    <div *ngIf="l.gp.errors.required">
                                        GP selection is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md">
                                <label for="gram">Vill/ Gram Sansad/ Locality :&nbsp;<span
                                        class="text-danger">*&nbsp;</span></label>
                                <select class="form-select" formControlName="gram" id="gram" [ngClass]="{'is-invalid':l.gram.invalid && 
                                l.gram.touched,'is-valid':l.gram.valid && (l.gram.dirty ||l.gram.touched) }">
                                    <option value="">-- Select Village --</option>
                                    <option *ngFor="let vill of villageList" value="{{vill.villageMasterId}}">
                                        {{ vill.villageName }}
                                    </option>
                                </select>
                                <div *ngIf="l.gram.errors" class="invalid-feedback">
                                    <div *ngIf="l.gram.errors.required">
                                        Village selection is required
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md">
                    <label for="eventDate">Date of Event :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                    <input type="date" class="form-control" formControlName="eventDate" (keydown)="restrictTypeOfDate()"
                        [ngClass]="{'is-invalid': l.eventDate.invalid 
                    && l.eventDate.touched, 'is-valid':l.eventDate.valid &&(l.eventDate.dirty || l.eventDate.touched)}"
                        [min]="minToDate" [max]="maxToDate" />
                    <div *ngIf="l.eventDate.errors" class="invalid-feedback">
                        <div *ngIf="l.eventDate.errors.required">
                            Please select event date
                        </div>
                    </div>
                </div>

                <div class="form-group col-md">
                    <label for="issueType">Issue Addressed :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                    <select class="form-select" formControlName="issueType" id="issueType" [ngClass]="{'is-invalid': 
                       l.issueType.invalid && l.issueType.touched,
                      'is-valid': l.issueType.valid && (l.issueType.dirty || l.issueType.touched) }">
                        <option value="">-- Select Issue Addressed --</option>
                        <option *ngFor="let issue of issuesList" value="{{issue.eventIssueMasterId}}">
                            {{issue.issueName}}
                        </option>
                    </select>
                    <div *ngIf="l.issueType.errors" class="invalid-feedback">
                        <div *ngIf="l.issueType.errors.required">Please select a Issue</div>
                    </div>
                </div>
            </div><br>

            <div class="row">
                <div class="form-group col-md">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Staff/ Role/ Branch :&nbsp;<span
                                class="text-danger">*&nbsp;</span></legend>
                        <div id="tbodyStaff">
                            <div id="table_wrapper">
                                <table class="table table-striped" id="table_wrapper">

                                    <tbody style="text-align:center;">
                                        <tr *ngFor="let user of hcoUserList; index as i">
                                            <td style="width: 4%;">{{i+1}}</td>
                                            <td style="width: 25%;">{{user.user_firstname}}{{user.user_middlename}}
                                                {{user.user_lastname}} ({{user.role_shortname}}) -
                                                {{user.branch_name?user.branch_name:'NA'}}
                                            </td>
                                            <td style="width: 5%;"> <input *ngIf="user.is_checked== true"
                                                    class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault" checked
                                                    (change)="selectMultipleStaff($event,user)">
                                                <input *ngIf="user.is_checked== false" class="form-check-input"
                                                    type="checkbox" value="" id="flexCheckDefault"
                                                    (change)="selectMultipleStaff($event,user)">
                                            </td>
                                        </tr>
                                        <tr *ngIf="hcoUserList.length == 0">
                                            <td colspan="6">No list is available.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">

                    <div class="card" style="background: whitesmoke; border: none;
                                        border-radius: 14px; height: 200px;">
                        <div class="card-body" style="height: 40vh;">
                            <h4 class="card-title">Facilitator :&nbsp;<span class="text-danger">*&nbsp;</span></h4>
                            <i class="fas fa-plus-circle" id="circle" (click)="addMoreFacilitator()" style="cursor: pointer; float: right;
                                            margin-top:-45px;" title="Add More Facilitator"></i>

                            <div id="table_wrapper">
                                <table class="table" id="table_wrapper">

                                    <tbody id="tbodyFaciliator" style="text-align:center;">
                                        <tr *ngFor="let items of facilitatorDetails.facilitatorInfo; index as i">
                                            <td> <input type="text" class="form-control"
                                                    (keypress)="validationService.onlyAlphabetsAndSpace($event)"
                                                    (keypress)="validationService.titleCase($event)"
                                                    placeholder="Facilitator Name" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="facilitatorDetails.facilitatorInfo[i].name"
                                                    style="width: 16rem;">
                                            </td>

                                            <td> <select class="form-select"
                                                    [(ngModel)]="facilitatorDetails.facilitatorInfo[i].designationId"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option value="">-- Designation --</option>
                                                    <option *ngFor="let desig of designationList"
                                                        value="{{desig.eventDesignationMasterId}}">
                                                        {{ desig.designation}}
                                                    </option>
                                                </select>

                                            </td>

                                            <td><button type="button" class="btn btn-remove"
                                                    (click)="removeFacilitator(i)" style="width: 2rem;"
                                                    *ngIf="facilitatorDetails.facilitatorInfo[i].active_flag != 'D'">
                                                    <i class="fas fa-minus-circle" style="color: red !important;
                                                        font-size: 20px;"></i>
                                                </button>
                                                <button type="button" class="btn btn-remove" style="width: 2rem;"
                                                    *ngIf="facilitatorDetails.facilitatorInfo[i].active_flag == 'D'">
                                                    <i class="fas fa-minus-circle" style="color: #f57676 !important;
                                                    font-size: 20px;"></i>
                                                </button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">

                    <div class="card" style="background: whitesmoke; border: none;
                                        border-radius: 14px; height: 200px;">
                        <div class="card-body" style="height: 40vh;">
                            <h4 class="card-title">Stakeholder :</h4>
                            <i class="fas fa-plus-circle" id="circle" (click)="addMoreStakeHolder()" style="cursor: pointer; float: right;
                                            margin-top:-45px;" title="Add More Stakeholder"></i>

                            <div id="table_wrapper">
                                <table class="table" id="table_wrapper">

                                    <tbody id="tbodyFaciliator" style="text-align:center;">
                                        <tr *ngFor="let items of stakeHolderDetails.stakeHolderInfo; index as i">
                                            <td> <input type="text" class="form-control"
                                                    (keypress)="validationService.onlyAlphabetsAndSpace($event)"
                                                    (keypress)="validationService.titleCase($event)"
                                                    placeholder="Stakeholder Name" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="stakeHolderDetails.stakeHolderInfo[i].name"
                                                    style="width: 16rem;">
                                            </td>

                                            <td> <select class="form-select"
                                                    [(ngModel)]="stakeHolderDetails.stakeHolderInfo[i].designationId"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option value="">-- Designation --</option>
                                                    <option *ngFor="let desig of designationList"
                                                        value="{{desig.eventDesignationMasterId}}">
                                                        {{ desig.designation}}
                                                    </option>
                                                </select>
                                            </td>

                                            <td><button type="button" class="btn btn-remove"
                                                    (click)="removeStackHolder(i)" style="width: 2rem;">
                                                    <i class="fas fa-minus-circle" style="color: red !important;
                                                        font-size: 20px; "></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md">

                    <div class="card" style="background: whitesmoke; border: none;
                                        border-radius: 14px; height: 200px;">
                        <div class="card-body" style="height: 40vh;">
                            <h4 class="card-title">Details of Attendee :&nbsp;<span class="text-danger">*&nbsp;</span>
                            </h4>
                            <i class="fas fa-plus-circle" id="circle" (click)="addMoreAttendeeDetails()" style="cursor: pointer; float: right;
                                            margin-top:-45px;" title="Add More Attendee Details"></i>

                            <div id="table_wrapper">
                                <table class="table" id="table_wrapper">

                                    <tbody id="tbodyFaciliator" style="text-align:center;">
                                        <tr *ngFor="let items of attendeeDetails.attendeeInfo; index as i">
                                            <td> <input type="text" class="form-control"
                                                    (keypress)="validationService.onlyAlphabetsAndSpace($event)"
                                                    (keypress)="validationService.titleCase($event)" placeholder="Name"
                                                    [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="attendeeDetails.attendeeInfo[i].name"
                                                    style="width: 485px;">
                                            </td>

                                            <td>
                                                <select class="form-select" style="width: 12rem;"
                                                    [(ngModel)]="attendeeDetails.attendeeInfo[i].className"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option value="">-- Class --</option>
                                                    <option *ngFor="let class of classList" value="{{class}}">
                                                        {{class}}
                                                    </option>
                                                </select>
                                            </td>

                                            <td> <select class="form-select" style="width: 12rem;"
                                                    [(ngModel)]="attendeeDetails.attendeeInfo[i].sex"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option value="">-- Sex --</option>
                                                    <option value="M" *ngIf="createEventRegisterForm.value.eventType==1||
                                                        specificSchoolEventDetails?.eventTypeMasterId==1">
                                                        Male</option>
                                                    <option value="F">Female
                                                    </option>
                                                    <option value="O" *ngIf="createEventRegisterForm.value.eventType==1||
                                                        specificSchoolEventDetails?.eventTypeMasterId==1">Others
                                                    </option>
                                                </select>

                                            </td>

                                            <td><button type="button" class="btn btn-remove"
                                                    (click)="removeAttendeeDetails(i)" style="width: 2rem;">
                                                    <i class="fas fa-minus-circle" style="color: red !important;
                                                        font-size: 20px; "></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </form>
</div>

<div class="modal-footer">
    <div class="row">
        <button type="button" class="btn btn-primary btn-sm" [disabled]="!disableSave()"
            (click)="submitForm()">Save</button>
    </div>
</div>