.search_inner button {
  padding-right: 1px;
  margin-left: 485px;
  margin-top: -1px;
}

.search_inner_fullscreen button {
  padding-right: 1px;
  margin-left: 690px;
  position: absolute;
  left: 0;
  top: 0;
  height: 90%;
  background: transparent;
  font-size: 12px;
  padding-left: 19px;
  font-size: 18px;
  color: #2daab8;
  border: 0;
}

.search_inner input {
  width: 62%;
  margin-left: 550px;
  margin-bottom: 4px;
}

.search_inner_fullscreen input {
  width: 74%;
  margin-left: 670px;
  margin-bottom: 5px;
  font-size: 13px;
  height: 40px;
  border-radius: 5px;
  padding-left: 55px;
  border: 1px solid #2daab8;
  padding-right: 15px;
}

.serach_field_2 .search_inner button i {
  font-size: 18px;
  color: #2daab8;
  margin-left: 58px;
  margin-top: 4px;
}

.serach_field_2 .search_inner_fullscreen button i {
  font-size: 18px;
  color: #2daab8;
  margin-left: -30px;
  margin-bottom: 11px;
  margin-top: 10px;
}