.modal-content {
  height: 570px;
  width: 1100px;
  margin-left: -285px;
  border: 10px solid white;
}

.modal-contents {
  height: 570px;
  width: 1100px;
  margin-left: -285px;
  border: 10px solid white;
  background: white;
}

.dialog-title {
  background-color: #499;
  display: inline-block;
  padding: 10px;
  position: relative;
  color: #ffffff;
  margin-left: -15px;
}

.dialog-title::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 0;
  height: 0;
  border-top: 7px solid #277;
  border-right: 7px solid #277;
  border-bottom: 7px solid #0000;
  border-left: 7px solid #0000;
}
/* 
#table_wrapper .table thead {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0;
  background: #499;
  text-align: center;
  overflow-y: auto;
}

#table_wrapper .table tbody td {
  padding: 4px;
} */

#header_fixed {
  position: sticky;
  top: 0;
  z-index: 999;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

#tbodyFam {
  display: block;
  height: 331px;
  overflow: scroll;
  overflow-x: hidden;
}

#tbodybenificiary {
  display: block;
  height: 155px;
  overflow: scroll;
  overflow-x: hidden;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: -4px 0 1.5em 0 !important;
  height: 140px;
}

legend.scheduler-border {
  border: 1px groove #ddd !important;
  background-color: gray;
  width: 200px;
  color: #ddd;
  font-size: 1.2em !important;
  font-weight: bold !important;
  font-family: ui-sans-serif;
}

#tbodyReason {
  display: block;
  height: 130px;
  overflow: scroll;
  overflow-x: hidden;
}

.popover__wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__title {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #499;
  text-align: center;
  margin-bottom: auto;
}

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 250px !important;
  transform: translate(0, 15px) !important;
  background-color: white;
  color: #828BB2;
  box-shadow: 3px 4px 5px 3px rgba(117, 111, 117, 1);
}

.popover__content li {
  padding: 0.3rem 1rem;
}

.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  left: calc(10% - 10px);
  top: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}

.search_inner button {
  padding-right: 1px;
  margin-left: 485px;
  margin-top: -1px;
}

.search_inner_fullscreen button {
  padding-right: 1px;
  margin-left: 690px;
  position: absolute;
  left: 0;
  top: 0;
  height: 90%;
  background: transparent;
  font-size: 12px;
  padding-left: 19px;
  font-size: 18px;
  color: #2daab8;
  border: 0;
}

.search_inner input {
  width: 60%;
  margin-left: 474px;
  margin-bottom: 4px;
}

.search_inner_fullscreen input {
  width: 75%;
  margin-left: 591px;
  margin-bottom: 5px;
  font-size: 13px;
  height: 40px;
  border-radius: 5px;
  padding-left: 55px;
  border: 1px solid #2daab8;
  padding-right: 15px;
}

.serach_field_2 .search_inner button i {
  font-size: 18px;
  color: #2daab8;
  margin-left: -20px;
  margin-top: 4px;
}

.serach_field_2 .search_inner_fullscreen button i {
  font-size: 18px;
  color: #2daab8;
  margin-left: -186px;
  margin-bottom: 11px;
  margin-top: 10px;
}

.filter_inner_fullscreen {
  margin-left: 124px;
  width: 148%;
}

.filter_inner {
  margin-left: 83px;
  width: 135%;
}

.serach_field_23 .search_inner input {
  color: #000;
  font-size: 13px;
  height: 40px;
  width: 77%;
  border-radius: 5px;
  padding-left: 55px;
  border: 1px solid #2daab8;
  padding-right: 15px;
  margin-left: 15px;
  margin-top: 19px;
}

.serach_field_23 {
  width: 430px;
  position: relative;
  margin-right: 0px;
}

.serach_field_23 .search_inner input::placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #7e7172;
}

.serach_field_23 .search_inner input:focus {
  outline: none;
}

.serach_field_23 .search_inner button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: transparent;
  font-size: 12px;
  border: 0;
  padding-left: 19px;
  margin-left: 6px;
  margin-top: 6px;
}

.serach_field_23 .search_inner button i {
  font-size: 18px;
  color: #2daab8;
  margin-top: 6px;
}

.serach_field_23 .search_inner button::before {
  position: absolute;
  width: 1px;
  height: 24px;
  content: "";
  background: #2daab8;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.serach_field_23 .search_inner_fullscreen input {
  width: 75%;
  margin-left: 8px;
  margin-bottom: 5px;
  font-size: 13px;
  height: 40px;
  border-radius: 5px;
  padding-left: 55px;
  border: 1px solid #2daab8;
  padding-right: 15px;
  margin-top: 19px;
}

.serach_field_23 .search_inner_fullscreen button i {
  font-size: 18px;
  color: #2daab8;
  margin-left: -1359px;
  margin-top: 21px;
}

.form-controls {
  display: block;
  width: 100%;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}