<app-loader [hidden]="loader"></app-loader>
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <div id="header-fixed" style="display: flex;">
                    <div class="row">
                        <div class="form-group col-md">
                            <h2 class="page-title">Sattu Register</h2>
                        </div>

                        <!-- *ngIf="escortviewData.length>0" -->
                        <div class="form-group col-md">
                            <div class="serach_field_2">
                                <div [ngClass]=" searchFullscreen? 'search_inner_fullscreen ' : ' search_inner' ">
                                    <form active="#">
                                        <div class="search_field">
                                            <input type="text" name="search"
                                                placeholder="search fam, name, place, type ..."
                                                [(ngModel)]="sattuSearch">
                                        </div>
                                        <button type="submit"> <i class="fa fa-search"></i> </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group col-md" style="display: flex; justify-content:flex-end"
                        *ngIf="!selectVillageForm.value.gram || !createMode">
                        <i class="fas fa-plus-circle"
                            style="cursor: pointer; color: #a8d7d7; font-size: 30px; margin-top: 5px;"
                            title="Create Escort/ Refer Register"></i>
                    </div> -->

                    <!-- *ngIf="selectVillageForm.value.gram && createMode" -->
                    <div class="form-group col-md" style="display: flex; justify-content:flex-end">
                        <i class="fas fa-plus-circle"
                            style="cursor: pointer; color: #499; font-size: 30px; margin-top: 5px;"
                            title="Create Sattu Register" (click)="viewFamilyList()"></i>
                    </div>

                </div>

                <form class="form-signin" [formGroup]="selectVillageForm">

                    <div class="row" *ngIf="regionBranchHide">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region"
                                [ngClass]="{'is-invalid': m.region.invalid
                                 && m.region.touched,  'is-valid':  m.region.valid && (m.region.dirty || m.region.touched) }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="m.region.errors" class="invalid-feedback">
                                <div *ngIf="m.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{'is-invalid': m.branch.invalid && m.branch.touched,
                              'is-valid': m.branch.valid && (m.branch.dirty || m.branch.touched) }">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="m.branch.errors" class="invalid-feedback">
                                <div *ngIf="m.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md">
                            <label for="block">Block :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBlock($event.target.value)"
                                formControlName="block" id="block" [ngClass]="{'is-invalid': m.block.invalid 
                                && m.block.touched,'is-valid': m.block.valid && 
                                (m.block.dirty || m.block.touched) }">
                                <option value="">-- Select Block --</option>
                                <option *ngFor="let block of villagesOfBranch" value="{{block.blockMasterId}}">
                                    {{ block.blockName }}
                                </option>
                            </select>
                            <div *ngIf="m.block.errors" class="invalid-feedback">
                                <div *ngIf="m.block.errors.required">Block selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gp">GP/ Municipality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeGp($event.target.value)" formControlName="gp"
                                id="gp" [ngClass]="{'is-invalid': m.gp.invalid && m.gp.touched,
                              'is-valid': m.gp.valid && (m.gp.dirty || m.gp.touched) }">
                                <option value="">-- Select GP/ Municipality --</option>
                                <option *ngFor="let gp of gpList" value="{{gp.gpMunicipalId}}">
                                    {{ gp.name }}
                                </option>
                            </select>
                            <div *ngIf="m.gp.errors" class="invalid-feedback">
                                <div *ngIf="m.gp.errors.required">
                                    GP selection is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gram">Village/ Gram Sansad/ Locality
                                :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeVillage($event.target.value)"
                                formControlName="gram" id="gram" [ngClass]="{'is-invalid': m.gram.invalid && m.gram.touched,
                              'is-valid': m.gram.valid && (m.gram.dirty || m.gram.touched) }">
                                <option value="">-- Select Village --</option>
                                <option *ngFor="let vill of villageList" value="{{vill.villageMasterId}}">
                                    {{ vill.villageName }}
                                </option>
                            </select>
                            <div *ngIf="m.gram.errors" class="invalid-feedback">
                                <div *ngIf="m.gram.errors.required">
                                    Village selection is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="white_box_tittle list_header">

                        <div class="QA_table">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table
                                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                                    <thead>
                                        <tr>
                                            <th style="width: 6%;">Sl.<br>No.</th>
                                            <th style="width: 20%;">Date</th>
                                            <!-- <th style="width: 20%;">Date
                                                <input type="date" class="form-controls" formControlName="filterDate"
                                                    (change)="filterList($event.target.value)"
                                                    *ngIf="viewEscortReferForm.value.gram">
                                            </th> -->
                                            <th style="width: 8%;">Family<br>No.</th>
                                            <th style="width: 25%;">Name</th>
                                            <th style="width: 25%;">Guardian Name</th>
                                            <th style="width: 13%;">Beneficiary</th>
                                            <th style="width: 10%;">Reason</th>
                                            <th style="width: 12%;">Done by- <br>Staff/ SS</th>
                                            <th style="width: 25%;">Place</th>
                                            <th style="width: 11%;">Type</th>
                                            <th style="width: 12%;" *ngIf="deleteMode || updateMode">Action</th>
                                        </tr>
                                    </thead>

                                    <!-- <tbody style="text-align: center;">
                                        <tr *ngFor="let escort of escortviewData |escortRegisterFilter: {familyNumber :  escortSearch,
                                                 familyName :escortSearch, visitingPlaceName : escortSearch, escortOrReferType:escortSearch}|
                                                  paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                                            <td style="width: 6%;">{{(p-1)*5+i+1 ? (p-1)*5+i+1 : i+1}}</td>
                                            <td style="width: 20%;">{{escort.visitDate.split("-").reverse().join("-")}}
                                            </td>
                                            <td style="width: 8%;">{{escort.familyNumber}}</td>
                                            <td style="width: 25%;">{{escort.familyName}}</td>
                                            <td style="width: 25%;">{{escort.husbandOrGuardianName}}</td>
                                            <td class="btn-link"
                                                style="width: 13%; color:#0d6efd; text-decoration: none; cursor: pointer;"
                                                (click)="openDialog(escort)">view</td>
                                            <td style="width: 10%;">
                                                <div class="popover__wrapper">
                                                    <h3 class="popover__title" style="color:#0d6efd;">view</h3>
                                                    <div class="popover__content" *ngIf="escort?.reasonList?.length>0">
                                                        <li style="word-wrap: break-word; text-align: left;" *ngFor="let reason of escort.reasonList
                                                        ; index as i">
                                                            {{i+1}}. {{reason.reasonName}}
                                                        </li>
                                                    </div>
                                                    <div class="popover__content" *ngIf="escort?.reasonList?.length==0">
                                                        <li style="word-wrap: break-word; text-align: left;">
                                                            No Data Found
                                                        </li>
                                                    </div>
                                                </div>
                                            </td>

                                            <td style="width: 12%;">
                                                <div class="popover__wrapper">
                                                    <h3 class="popover__title" style="color:#0d6efd;">view</h3>
                                                    <div class="popover__content">
                                                        <li style="word-wrap: break-word; text-align: left;">
                                                            <div
                                                                *ngIf="escort.escorteeRefereeStaffName != null && escort.escortedReferredByStaff=='Y'">
                                                                * STAFF :
                                                                {{escort.escortedReferredByStaff=='Y'?
                                                                escort.escorteeRefereeStaffName:''}}</div>
                                                            <div
                                                                *ngIf="escort.escorteeRefereeSsName != null && escort.escortedReferredBySS =='Y'">
                                                                * SS : {{escort.escortedReferredBySS =='Y' ?
                                                                escort.escorteeRefereeSsName :''}}</div>
                                                        </li>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 25%;">{{escort.visitingPlaceName}}</td>
                                            <td style="width: 11%;">{{escort.escortOrReferType}}</td>
                                            <td style="width: 12%;">
                                                <i class="fas fa-edit" title="Edit Escort/ Refer Register"
                                                    (click)="editEscort(Benificiary, escort)" *ngIf="updateMode"></i>
                                                <i class="fas fa-trash" title="Delete Escort/ Refer Register"
                                                    (click)="deleteEscort(escort)" *ngIf="deleteMode"></i>
                                            </td>
                                        </tr>
                                    </tbody> -->

                                </table>
                                <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                    (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                                </pagination-controls>

                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>