<app-loader [hidden]="loader"></app-loader>
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <div id="header-fixed" style="display: flex;">
                    <h2 class="page-title">Event Register</h2>

                    <div class="box_right d-flex lms_block col-md-6">
                        <div class="serach_field_2">
                            <div [ngClass]=" searchFullscreen? 'search_inner_fullscreen ' : ' search_inner' ">
                                <form active="#">
                                    <div class="search_field">
                                        <input type="text" name="search" placeholder="search by event, name & place ..."
                                            [(ngModel)]="registerSearch">
                                    </div>
                                    <button type="submit"> <i class="fa fa-search"></i> </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md" style="display: flex; justify-content:flex-end"
                        *ngIf="!eventRegisterForm.value.branch && !lowerRankbranchId ">
                        <i class="fas fa-plus-circle"
                            style="cursor: pointer; color: #a8d7d7; font-size: 30px; margin-top: 5px;"
                            title="Create Event Register"></i>
                    </div>

                    <div class="form-group col-md" style="display: flex; justify-content:flex-end"
                        *ngIf="(eventRegisterForm.value.branch && createMode) || (lowerRankbranchId && createMode)">
                        <i class="fas fa-plus-circle"
                            style="cursor: pointer; color: #499; font-size: 30px; margin-top: 5px;"
                            title="Create Event Register" (click)="createEventRegister()"></i>
                    </div>
                </div>

                <form class="form-signin" [formGroup]="eventRegisterForm">
                    <div class="row" *ngIf="regionBranchHide">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region" [ngClass]="{'is-invalid': l.region.invalid && l.region.touched,
                              'is-valid': l.region.valid && (l.region.dirty || l.region.touched) }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="l.region.errors" class="invalid-feedback">
                                <div *ngIf="l.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" formControlName="branch" id="branch"
                                (change)="changeBranch($event.target.value)"
                                [ngClass]="{'is-invalid': l.branch.invalid
                             && l.branch.touched,  'is-valid': l.branch.valid && (l.branch.dirty || l.branch.touched) }">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="l.branch.errors" class="invalid-feedback">
                                <div *ngIf="l.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <mat-tab-group animationDuration="500ms" (selectedTabChange)="tabChanged($event)">

                        <mat-tab>
                            <ng-template mat-tab-label style="margin-left: 5px;">
                                School Events
                            </ng-template>
                            <ng-template matTabContent>

                                <div id="table_wrapper">
                                    <table class="table table-striped" id="table_wrapper">
                                        <thead id="header_fixed">
                                            <tr style="text-align: center;">
                                                <th style="width: 2%;">Sl. No.</th>
                                                <th style="width: 12%;">Date of Event</th>
                                                <th style="width: 20%;">Event Type</th>
                                                <th style="width: 22%;">School Name</th>
                                                <th style="width: 22%;">School Place</th>
                                                <th style="width: 10%;">Attendee</th>
                                                <th style="width: 20%;">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody id="tbodyy" style="text-align:center;">
                                            <tr
                                                *ngFor="let school of SchoolEventsOfBranch | eventRegisterFilter: {eventName : registerSearch,
                                                    schoolName :registerSearch,  villageName :registerSearch} | paginate: { itemsPerPage: 5, currentPage: p };index as i;">
                                                <td style="width: 2%;">{{(p-1)*5+i+1 ? (p-1)*5+i+1 : i+1}}</td>
                                                <td style="width: 12%;">
                                                    {{school.eventDate.split("-").reverse().join("-")}}</td>
                                                <td style="width: 20%;">{{school.eventName}}</td>
                                                <td style="width: 22%;">{{school.schoolName}}</td>
                                                <td style="width: 22%;">{{school.villageName}}</td>
                                                <td style="width: 10%;">{{school.attendeeCount}}</td>
                                                <td style="width: 20%;">
                                                    <i class="fa fa-eye fa-lg" title="View Details"
                                                        (click)="viewSchoolEvent(school)"></i>
                                                    <i class="fas fa-edit" title="Edit Event"
                                                        (click)="editSchoolEvent(school)" *ngIf="updateMode"></i>
                                                    <i class="fas fa-trash" title="Delete Event"
                                                        (click)="deleteSchoolEvent(school)" *ngIf="deleteMode"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                        (pageChange)="p = $event" (pageBoundsCorrection)="p = $event">
                                    </pagination-controls>
                                </div>

                            </ng-template>
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label style="margin-left: 5px;">
                                Special Events
                            </ng-template>
                            <ng-template matTabContent>

                                <div id="table_wrapper">
                                    <table class="table table-striped" id="table_wrapper">
                                        <thead id="header_fixed">
                                            <tr style="text-align: center;">
                                                <th style="width: 2%;">Sl. No.</th>
                                                <th style="width: 10%;">From Date</th>
                                                <th style="width: 10%;">To Date</th>
                                                <th style="width: 25%;">Event Name</th>
                                                <th style="width: 30%;">Place</th>
                                                <th style="width: 5%;">Participant</th>
                                                <th style="width: 35%;">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody id="tbodyy" style="text-align:center;">
                                            <tr
                                                *ngFor="let special of SpecialEventsOfBranch | eventRegisterFilter: {eventName : registerSearch,
                                                    place :registerSearch} | paginate: { itemsPerPage: 5, currentPage: p2 };index as i;">
                                                <td style="width: 2%;">{{(p2-1)*5+i+1 ? (p2-1)*5+i+1 : i+1}}</td>
                                                <td style="width: 10%;">
                                                    {{special.startDate.split("-").reverse().join("-")}}</td>
                                                <td style="width: 10%;">
                                                    {{special.endDate.split("-").reverse().join("-")}}</td>
                                                <td style="width: 25%;">{{special.eventName}}</td>
                                                <td style="width: 30%;">{{special.place?special.place:'-'}}</td>
                                                <td style="width: 5%;">{{special.participantCount}}</td>
                                                <td style="width: 35%;">
                                                    <i class="fa fa-group" title="Focused Group Discussion"
                                                        (click)="fgdViewModal(special)" *ngIf="special.fgd=='Y'"></i>
                                                    <i class="fa fa-group" title="Focused Group Discussion"
                                                        *ngIf="special.fgd=='N'" (click)="fgdViewModalMessage()"></i>
                                                    <i class="fa fa-eye fa-lg" title="View Details"
                                                        (click)="viewSpecialEvent(special)"></i>
                                                    <i class="fas fa-edit" title="Edit Event"
                                                        (click)="editSpecialEvent(special)" *ngIf="updateMode"></i>
                                                    <i class="fas fa-trash" title="Delete Event"
                                                        (click)="deleteSpecialEvent(special)" *ngIf="deleteMode"></i>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <pagination-controls class="d-flex justify-content-end p2-1 current ngx-pagination1"
                                        (pageChange)="p2 = $event" (pageBoundsCorrection)="p2 = $event">
                                    </pagination-controls>
                                </div>

                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>

</div>