.dialog-header {
    display: flex;
    justify-content: space-between;
}

.dialog-title {
    background-color: #499;
    display: inline-block;
    padding: 10px;
    position: relative;
    color: #ffffff;
}

.dialog-title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 0;
    height: 0;
    border-top: 7px solid #277;
    border-right: 7px solid #277;
    border-bottom: 7px solid #0000;
    border-left: 7px solid #0000;
}

#table_wrapper .table thead {
    border-bottom: 0 solid transparent;
    background-color: #fff;
    padding: 17px 30px;
    line-height: 16px;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    white-space: nowrap;
    text-transform: capitalize;
    font-family: "Rajdhani", sans-serif;
    border: 0;
    background: #499;
    text-align: center;
    overflow-y: auto;
}

#table_wrapper .table tbody td {
    padding: 4px;
}

#header_fixed {
    position: sticky;
    top: 0;
    z-index: 999;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

#tbodyFam {
    display: block;
    height: 331px;
    overflow: scroll;
    overflow-x: hidden;
}

::ng-deep .mat-dialog-container {
    padding: 12px 17px;
    overflow: hidden
}

.serach_field_23 .search_inner input {
    color: #000;
    font-size: 13px;
    height: 40px;
    width: 77%;
    border-radius: 5px;
    padding-left: 55px;
    border: 1px solid #2daab8;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 19px;
}

.serach_field_23 {
    width: 430px;
    position: relative;
    margin-right: 0px;
}

.serach_field_23 .search_inner input::placeholder {
    font-size: 13px;
    font-weight: 300;
    color: #7e7172;
}

.serach_field_23 .search_inner input:focus {
    outline: none;
}

.serach_field_23 .search_inner button {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: transparent;
    font-size: 12px;
    border: 0;
    padding-left: 19px;
    margin-left: 6px;
    margin-top: 6px;
}

.serach_field_23 .search_inner button i {
    font-size: 18px;
    color: #2daab8;
    margin-top: 6px;
}

.serach_field_23 .search_inner button::before {
    position: absolute;
    width: 1px;
    height: 24px;
    content: "";
    background: #2daab8;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}

.serach_field_23 .search_inner_fullscreen input {
    width: 75%;
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 13px;
    height: 40px;
    border-radius: 5px;
    padding-left: 55px;
    border: 1px solid #2daab8;
    padding-right: 15px;
    margin-top: 19px;
}

.serach_field_23 .search_inner_fullscreen button i {
    font-size: 18px;
    color: #2daab8;
    margin-left: -609px;
    margin-top: 21px;
}