<app-loader [hidden]="loader"></app-loader>
<h1 mat-dialog-title>
    <div class="dialog-header">
        <h3 class="dialog-title">List Of Families</h3>
        <div><i class="fas fa-times" (click)="closeDialog()"></i></div>
    </div>
</h1>
<hr>

<div mat-dialog-content>
    <form class="form-signin" [formGroup]="viewFamilyForm">
        <div class="row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4">
                <label for="date">Date :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                <input type="date" class="form-control" formControlName="date" [min]="minDate" [max]="maxDate"
                    (keydown)="restrictTypeOfDate()" (change)="changeDate()" [ngClass]="{'is-invalid': r.date.invalid
                    && r.date.touched,'is-valid': r.date.valid && (r.date.dirty || r.date.touched) }">
                <div *ngIf="r.date.errors" class="invalid-feedback">
                    <div *ngIf="r.date.errors.required">Date selection is required</div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="serach_field_23">
                    <div>
                        <form active="#" [ngClass]=" searchFullscreen? 'search_inner_fullscreen' : ' search_inner' ">
                            <input type="text" name="search" placeholder="search by fam no., name & guardian name ..."
                                [(ngModel)]="sattuSearch">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2"></div>
        </div>

        <div id="tbodyFam">
            <div id="table_wrapper">
                <table class="table table-striped" id="table_wrapper">
                    <thead id="header_fixed">
                        <tr style="text-align: center;">
                            <th style="width: 3%;">Sl. No.</th>
                            <th style="width: 3%;">Family No.</th>
                            <th style="width: 25%;">Name</th>
                            <th style="width: 25%;">Guardian Name</th>
                            <th style="width: 30%;">Status</th>
                            <th style="width: 5%;">Create</th>
                        </tr>
                    </thead>

                    <tbody style="text-align:center;">
                        <tr *ngFor="let fami of familyList; index as i">
                            <td style="width: 3%;">{{i+1}}</td>
                            <td style="width: 3%;">{{fami.familyNumber}}</td>
                            <td style="width: 25%;">{{fami.firstName}}{{fami.middleName}} {{fami.lastName}}</td>
                            <td style="width: 25%;">{{fami.husbandOrGuardianName}}</td>
                            <td style="width: 30%;">status</td>
                            <td class="btn-link"
                                style="width: 5%; color:#0d6efd; text-decoration: none; cursor: pointer;"
                                (click)="createSattu(fami)">create</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>