<h1 mat-dialog-title>
    <div class="dialog-header">
        <h3 class="dialog-title" *ngIf="!data?.familyDetails?.sattuRegisterMasterId">Create Sattu Register</h3>
        <h3 class="dialog-title" *ngIf="data?.familyDetails?.sattuRegisterMasterId">Edit Sattu Register</h3>
        <h3 style="margin-left: -340px; margin-top: 7px;"> Family No : {{famNo}}</h3>
        <div><i class="fas fa-times" (click)="closeDialog()"></i></div>
    </div>
</h1>
<hr>

<div mat-dialog-content>
    <form class="form-signin" [formGroup]="createSattuForm">

        <div class="row">
            <div class="form-group col-md">
                <label for="orientation">
                    Received Orientation For Preparing Sattu?&nbsp;<span
                        class="text-danger">*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></label>

                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="orientation" id="yes" value="Y"
                        formControlName="orientation" />
                    <label class="form-check-label" for="orientation">
                        &nbsp;&nbsp;Yes</label>

                    <div class="form-check-inline">
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-check-input" type="radio" name="orientation" id="no" value="N"
                            formControlName="orientation" />
                        <label class="form-check-label" for="orientation">
                            &nbsp;&nbsp;No</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md">
                <label for="preparing ">
                    Family preparing Sattu?&nbsp;<span
                        class="text-danger">*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></label>

                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="preparingSattu" id="" value="Regular"
                        formControlName="preparingSattu" style="margin-top: 33px;"
                        (change)="preparingSattu($event.target.value)">
                    <label class="form-check-label" for="preparingSattu">
                        &nbsp;&nbsp;Regularly</label>

                    <div class="form-check-inline">
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-check-input" type="radio" name="preparingSattu" id="" value="Irregular"
                            formControlName="preparingSattu" (change)="preparingSattu($event.target.value)">
                        <label class="form-check-label" for="preparingSattu">
                            &nbsp;&nbsp;Irregularly</label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="preparingSattu" id="" value="NP"
                            formControlName="preparingSattu" (change)="preparingSattu($event.target.value)">
                        <label class="form-check-label" for="preparingSattu">
                            &nbsp;&nbsp;Not Preparing</label>
                    </div>

                    <div class="form-check-inline" *ngIf="createSattuForm.value.preparingSattu !='NP'">
                        &nbsp;&nbsp;&nbsp;
                        <select class="form-select" formControlName="reason" id="reason" [ngClass]="{'is-invalid': s.reason.invalid 
                        && s.reason.touched,'is-valid': s.reason.valid && 
                        (s.reason.dirty || s.reason.touched) }" style="visibility: hidden;">
                            <option value="">-- Select Reason--</option>
                            <option *ngFor="let reason of prequisiteDetails"
                                value="{{reason.sattu_non_preparing_reasons_id}}">
                                {{ reason.reason_name }}
                            </option>
                        </select>
                    </div>

                    <div class="form-check-inline" *ngIf="createSattuForm.value.preparingSattu =='NP'">
                        &nbsp;&nbsp;&nbsp;
                        <select class="form-select" formControlName="reason" id="reason" [ngClass]="{'is-invalid': s.reason.invalid 
                        && s.reason.touched,'is-valid': s.reason.valid && 
                        (s.reason.dirty || s.reason.touched) }">
                            <option value="">-- Select Reason--</option>
                            <option *ngFor="let reason of prequisiteDetails"
                                value="{{reason.sattu_non_preparing_reasons_id}}">
                                {{ reason.reason_name }}
                            </option>
                        </select>
                    </div>

                </div>

            </div>
        </div>
    </form>
    <hr>

    <div class="row">
        <div class="col-md"> <button type="button" class=" btn btn-primary btn-sm" style="float: right;"
                (click)="saveSattuRegister()" [disabled]="!sattuSaveDisabled()">Save</button>
        </div>
    </div>
</div>